/* 
header, nav, .logo-nav, ul, li, section, article, h1, p, .btn-header

main, section, article, form, img, input, .btn-form
.statistics, h2, .p-statistics
.statistics, .article, img, h3, p
.article, img, h3, p
.article, img, h3, p
section, img, h2, .btn-section

footer, section, .logo-footer
section,article, ul, li
article, ul, li
article, ul, li
article, div, img, img, img, img
*/

:root {
  /* ### Primary */
  --Blue: hsl(180, 66%, 49%);
  --Purple: hsl(257, 27%, 26%);

  /* ### Secondary */
  --Red: hsl(0, 87%, 67%);

  /* ### Neutral */

  --Gray1: hsl(0, 0%, 75%);
  --Gray2: hsl(257, 7%, 63%);
  --Gray3: hsl(255, 11%, 22%);
  --Gray4: hsl(260, 8%, 14%);
}

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100svh;
  font-size: 18px;
}

/* Header */
.logo-nav {
  width: 120px;
}
.btn-header {
  background-color: var(--Blue);
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px;
  width: 150px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Main */

/* Form */
input {
  display: block;
  border: 1px solid var(--Gray2);
  border-radius: 10px;
  padding: 10px 30px;
  margin: 10px;
  min-width: 400px;
  cursor: pointer;

  :hover 
    border-color: var(--Red);
}  
.btn-form {
  background-color: var(--Blue);
  color: white;
  border: none;
  border-radius: 15px;
  padding: 12px;
  width: 150px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.btn-section {
  background-color: var(--Blue);
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px;
  width: 150px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.statistics {
    background-color: var( --Gray1);
}
.p-statistics {
    color: var(--Gray2);
}
.article {
    background-color: white;
    padding: 25px;
    margin: 10px;    
}

/* Footer */
footer {
  background-color: var(--Gray4);
}
.logo-footer {
  width: 120px;
  color: red;
}
