/* 
header, nav, .logo-nav, ul, li, .sign-up, section, .shorter-links, h1, .links, .btn-header

main, section, .input, form, .input-background, input, .btn-form
.statistics-all, .statistics-1, statistics, .p-statistics
.statistics-2, .article, .blue, img, .en, .to
.article, .blue, img, .en, .to
.article, .blue, img, .en, .to
.background, .blue, img, .boost, .btn-section

footer, section, .logo-footer
section,article, ul, .link-1
article, ul, .link-2
article, ul, .link-3
article, div, img, img, img, img
*/

:root {
  /* ### Primary */
  --Blue: hsl(180, 66%, 49%);
  --Purple: hsl(257, 27%, 26%);

  /* ### Secondary */
  --Red: hsl(0, 87%, 67%);

  /* ### Neutral */

  --Gray1: hsl(0, 0%, 75%);
  --Gray2: hsl(257, 7%, 63%);
  --Gray3: hsl(255, 11%, 22%);
  --Gray4: hsl(260, 8%, 14%);
}

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100svh;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

/* Header */
header {
    min-width: 100svw;
    padding: 20px 0px;
}
.logo-nav {
  width: 120px;
}
ul {
    width: 200px;
    list-style-type: none;
}
li {
    color: var(--Gray2);
    font-weight: 700;
}
.sign-up {
background-color: var(--Blue);
color: white;
font-weight: 500;
width: 140px;
border-radius: 25px;
text-align: center;
padding: 10px;
}
.shorter-links {
    margin-top: 100px;
}
h1 {
   font-size: 40px; 
}
.links {
    color: var(--Gray2);
}
.btn-header {
  background-color: var(--Blue);
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px;
  width: 150px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Main */
main {
    width: 98svw;
}

/* Form */
h2 {
   margin-top: 100px; 
}
.input-background {
    background-image: url("./images/bg-shorten-desktop.svg");
    width: 1000px;
    background-color: var(--Purple);
}
input {
  display: block;
  border: 1px solid var(--Gray2);
  border-radius: 10px;
  padding: 10px 30px;
  min-width: 400px;
  cursor: pointer;

  :hover 
    border-color: var(--Red);
}  
.btn-form {
  background-color: var(--Blue);
  color: white;
  border: none;
  border-radius: 15px;
  padding: 12px;
  width: 150px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.btn-section {
  background-color: var(--Blue);
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px;
  width: 150px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.statistics-all {
    background-color: var( --Gray1);
    height: 1400px;
}
.statistics-1 {
margin-bottom: 200px;
text-align: center;
width: 510px;
margin-left: 400px;
}
.statistics {
    margin-bottom: 20px;
}
.p-statistics {
    color: var(--Gray2);
    text-align: center;
    width: 510px;
}
.statistics-2 {
}
.article {
    background-color: white;
    padding: 25px;
    margin: 10px;
    width: 400px;
    height: 300px;
    border-radius: 5px; 
    position: relative;   
}
.article::after {
    content: "";
    background-color: var(--Blue);
    width: 30px;
    height: 10px;
    top: 50%;
    right: -30px;
    transform: translateY(-50);
    position: absolute;
}
.blue {
    background-color: var(--Purple);
    width: 15%;
    border-radius: 90%;
}
.en {
margin-top: 20px;
}
.to {
    color: var(--Gray2);
}
.background {
    background-image: url("./images/bg-boost-desktop.svg");
    height: 200px;
    background-color: var(--Purple);
}
.boost {
    color: white;
}

/* Footer */
footer {
  background-color: var(--Gray4);
  min-width: 98svw;
}
.footer-background {
    background-color: white;
    width: 130px;
    color: white;
}
.logo-footer {
  width: 120px;
}
.link-1, .link-2, .link-3 {
color: white;
font-weight: 500;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
