/* 
header, nav, .logo-nav, ul, a, li, .sign-up, .header, .shorter-links, h1, .links, .btn-header, .image_working, img

main, form, .input, div, .input-background, input, .btn-form
.statistics-all, .statistics-1, statistics, .p-statistics
.statistics-2, .article, .blue, img, .en, .to
.article, .blue, img, .en, .to
.article, .blue, img, .en, .to
.background, .blue, img, .background-boost .boost, .btn-section

footer, section, .logo-footer
.footer, .footer-links-1, ul, .link-1
.footer-links-2, ul, .link-1, .link-2
.footer-links-3, ul, .link-1
.footer-links-4, div, img, img, .pinterest, img
*/

:root {
  /* ### Primary */
  --Blue: hsl(180, 66%, 49%);
  --Purple: hsl(257, 27%, 26%);

  /* ### Secondary */
  --Red: hsl(0, 87%, 67%);

  /* ### Neutral */

  --Gray1: hsl(0, 0%, 75%);
  --Gray2: hsl(257, 7%, 63%);
  --Gray3: hsl(255, 11%, 22%);
  --Gray4: hsl(260, 8%, 14%);
}

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  min-width: 100svw;
}

/* Header */
header {
  min-width: 100svw;
  justify-content: space-between;
  align-items: center;
}
nav {
  min-width: 100svw;
  margin-left: 150px;
  margin-right: 90px;
}
.logo-nav {
  width: 120px;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-links ul li a {
  color: var(--Gray2);
  text-decoration: none;
  font-weight: 700;
}
a:link {
  color: var(--Gray2);
  text-decoration: none;
}
a:hover {
  color: var(--Gray2);
}
.nav-link-pricing a:hover {
  color: var(--Gray3);
}
.nav-links #sign-up {
  background-color: var(--Blue);
  color: white;
  font-weight: 500;
  width: 140px;
  border-radius: 25px;
  text-align: center;
  padding: 10px;
  margin-right: 100px;
}
#sign-up a:hover {
  cursor: pointer;
  opacity: 0.5;
}
.header {
  display: flex;
  margin-top: 100px;
}
.shorter-links {
  width: 400px;
  margin-left: 150px;
  margin-right: 300px;
}
h1 {
  font-size: 50px;
  color: var(--Gray3);
}
.links {
  color: var(--Gray2);
  width: 423px;
}
.btn-header {
  background-color: var(--Blue);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 150px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-top: 20px;
  cursor: pointer;
}
.btn-header:hover {
  opacity: 0.5;
}
.image_working {
  margin-right: 50px;
}
.image_working img {
  width: 450px;
}

/* Main */
main {
  width: 100svw;
}

/* Form */
.input {
  margin-left: 150px;
}
.input-background {
  background-image: url("./images/bg-shorten-desktop.svg");
  width: 900px;
  height: 100px;
  background-color: var(--Purple);
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.input-background input {
  background-color: white;
  min-width: 600px;
  margin-right: 30px;
}
input {
  display: inline;
  border: 1px solid var(--Gray2);
  border-radius: 10px;
  padding: 10px 30px;
  min-width: 700px;
  cursor: pointer;
}
input:hover {
  border-color: var(--Red);
}
input::placeholder {
  color: var(--Gray2);
  font-family: "Poppins", sans-serif;
}
.btn-form {
  background-color: var(--Blue);
  color: white;
  border: none;
  border-radius: 15px;
  padding: 12px;
  width: 150px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.btn-form:hover {
  opacity: 0.9;
}
.btn-section {
  background-color: var(--Blue);
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px;
  width: 150px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.statistics-all {
  background-color: var(--Gray1);
  height: 1000px;
  padding-top: 150px;
}
.statistics-1 {
  margin-bottom: 100px;
  text-align: center;
  width: 510px;
  margin-left: 400px;
}
.statistics {
  color: var(--Gray3);
  font-weight: 700;
  text-align: center;
  font-size: 32px;
}
.p-statistics {
  color: var(--Gray2);
  text-align: center;
  width: 570px;
  margin-top: 15px;
  font-size: 20px;
}
.statistics-2 {
  display: grid;
  grid-template-columns: 450px 450px 1fr;
}
.article {
  background-color: white;
  padding: 25px;
  margin-left: 80px;
  width: 400px;
  height: 300px;
  border-radius: 5px;
  position: relative;
  display: grid;
}
.article::after {
  content: "";
  background-color: var(--Blue);
  width: 30px;
  height: 10px;
  top: 50%;
  right: -30px;
  transform: translateY(-50);
  position: absolute;
}
.blue {
  background-color: var(--Purple);
  width: 20%;
  border-radius: 90%;
}
.blue img {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  margin-left: 5px;
}
.en {
  margin-top: 20px;
}
.to {
  color: var(--Gray2);
}
.background {
  background-image: url("./images/bg-boost-desktop.svg");
  height: 200px;
  background-color: var(--Purple);
}
.background-boost {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.boost {
  color: white;
  margin-top: 30px;
}
.btn-section {
  margin-top: 20px;
}

/* Footer */
footer {
  background-color: var(--Gray4);
  max-width: 100svw;
  height: 300px;
}
.footer-background {
  background-color: white;
  width: 120px;
  color: white;
}
.logo-footer {
  width: 120px;
  color: white;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-links-1 {
  flex: 1;
  flex-direction: column;
}
.footer-links-2 {
  flex: 2;
  flex-direction: column;
}
.footer-links-3 {
  flex: 3;
  flex-direction: column;
}
.footer-links-4 {
  flex: 4;
}
*/ .footer-links-1 .link-1 a {
  color: white;
  font-weight: 500;
}
.link-2 ul li a {
  color: var(--Blue);
}
.footer ul li a {
  color: var(--Gray2);
}
.link-3 {
  color: white;
  font-weight: 500;
}
.footer-links-2 .link-2 a:hover {
  color: var(--Blue);
}
.footer-links-4 .pinterest img:hover {
  color: var(--Blue);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Queries
-------------------*/

/* mobile styles */
@media (max-width: 376px) {
  body {
    font-size: 16px;
  }
  header {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .nav-links a {
    display: none;
  }
  .logo-nav {
    width: 100px;
  }
  .nav-links #sign-up {
    display: none;
  }
  .header {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin: 50px 20px 0 20px;
  }
  .shorter-links {
    width: auto;
    margin: 0 20px;
    order: 2;
  }
  h1 {
    font-size: 32px;
  }
  .links {
    width: auto;
    margin: 0 20px;
  }
  .btn-header {
    width: 120px;
    padding: 8px;
    font-size: 14px;
    margin-bottom: 60px;
  }
  .image_working {
    margin-right: 1px;
    order: 1;
  }
  .image_working img {
    width: 320px;
  }
  .input {
    margin-left: 1px;
    max-width: 10px;
  }
  input {
    max-width: 50px;
    flex-direction: column;
    padding: 15px 5px;
    margin-top: 20px;
  }
  .input-background {
    max-width: 370px;
    height: 150px;
    flex-direction: column;
    display: block;
    justify-content: center;
  }
  .input-background input {
    min-width: 340px;
    margin-left: 10px;
  }
  .btn-form {
    width: 340px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 10px;
  }
  .statistics-all {
    flex-direction: column;
    height: auto;
  }
  .statistics-1 {
    margin-bottom: 200px;
    width: 500px;
    margin-left: 1px;
  }
  .statistics-2 {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .statistics {
    text-align: left;
    font-size: 30px;
    margin-left: 20px;
  }
  .p-statistics {
    width: 350px;
    text-align: center;
    font-size: 18px;
  }
  .article {
    width: 330px;
    height: 300px;
    text-align: center;
    margin-left: 2px;
    margin-bottom: 20px;
  }
  .blue {
    background-color: var(--Purple);
    width: 50%;
    height: 100%;
    border-radius: 60%;
    margin: 0 auto;
  }
  .blue img {
    width: 40%;
    padding: 4px;
  }
  footer {
    text-align: center;
  }
  .footer-links-1,
  .footer-links-2,
  .footer-links-3,
  .footer-links-4 {
    margin: 20px 0;
    flex-direction: column;
  }

  /* desktop styles */
  @media (max-width: 1439px) {
  }
}
